archive/
content/
outputs/
dataset/
*.npy
*.pth
*.jpg
*.png
clusters.npy
embeddings*
labels*
kmeans_selection.png
pca_embeddings.png
__pycache__/
.DS_Store
Thumbs.db
content/*
!content/requirements.txt
